xml-resources/web-service-references/WSSubTipo/wsdl/localhost_8080/WSAlimentos/WSSubTipo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countSubTipo" type="tns:countSubTipo"/>

<xs:element name="countSubTipoResponse" type="tns:countSubTipoResponse"/>

<xs:element name="createSubTipo" type="tns:createSubTipo"/>

<xs:element name="createSubTipoResponse" type="tns:createSubTipoResponse"/>

<xs:element name="edioSubTipo" type="tns:edioSubTipo"/>

<xs:element name="edioSubTipoResponse" type="tns:edioSubTipoResponse"/>

<xs:element name="findAllSubTipo" type="tns:findAllSubTipo"/>

<xs:element name="findAllSubTipoResponse" type="tns:findAllSubTipoResponse"/>

<xs:element name="findRangeSubTipo" type="tns:findRangeSubTipo"/>

<xs:element name="findRangeSubTipoResponse" type="tns:findRangeSubTipoResponse"/>

<xs:element name="findSubtipoProducto" type="tns:findSubtipoProducto"/>

<xs:element name="findSubtipoProductoResponse" type="tns:findSubtipoProductoResponse"/>

<xs:element name="removoSubTipo" type="tns:removoSubTipo"/>

<xs:element name="removoSubTipoResponse" type="tns:removoSubTipoResponse"/>

<xs:element name="subtipoProducto" type="tns:subtipoProducto"/>

<xs:element name="tipoProducto" type="tns:tipoProducto"/>

<xs:complexType name="removoSubTipo">
<xs:sequence>
<xs:element name="entity" type="tns:subtipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtipoProducto">
<xs:sequence>
<xs:element name="descripcionStp" type="xs:string" minOccurs="0"/>
<xs:element name="subtipoProductoPK" type="tns:subtipoProductoPK" minOccurs="0"/>
<xs:element name="tipoProducto" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtipoProductoPK">
<xs:sequence>
<xs:element name="subtipoP" type="xs:short"/>
<xs:element name="tipoProductoIdTp" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoProducto">
<xs:sequence>
<xs:element name="descripcionTp" type="xs:string" minOccurs="0"/>
<xs:element name="idTp" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removoSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edioSubTipo">
<xs:sequence>
<xs:element name="entity" type="tns:subtipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edioSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSubTipo">
<xs:sequence>
<xs:element name="entity" type="tns:subtipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllSubTipo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:subtipoProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeSubTipo">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:subtipoProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSubtipoProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSubtipoProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:subtipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countSubTipo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countSubTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>