xml-resources/web-service-references/WSVentas/wsdl/localhost_8080/WSAlimentos/WSVentas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="createVentas" type="tns:createVentas"/>

<xs:element name="createVentasResponse" type="tns:createVentasResponse"/>

<xs:element name="editVentas" type="tns:editVentas"/>

<xs:element name="editVentasResponse" type="tns:editVentasResponse"/>

<xs:element name="estadoCivil" type="tns:estadoCivil"/>

<xs:element name="findAllVentas" type="tns:findAllVentas"/>

<xs:element name="findAllVentasResponse" type="tns:findAllVentasResponse"/>

<xs:element name="findRangeVentas" type="tns:findRangeVentas"/>

<xs:element name="findRangeVentasResponse" type="tns:findRangeVentasResponse"/>

<xs:element name="findVentas" type="tns:findVentas"/>

<xs:element name="findVentasResponse" type="tns:findVentasResponse"/>

<xs:element name="removeVentas" type="tns:removeVentas"/>

<xs:element name="removeVentasResponse" type="tns:removeVentasResponse"/>

<xs:element name="ventas" type="tns:ventas"/>

<xs:complexType name="findRangeVentas">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeVentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ventas">
<xs:sequence>
<xs:element name="activoV" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="clienteIdCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fechaEntrega" type="xs:string" minOccurs="0"/>
<xs:element name="fechaVenta" type="xs:string" minOccurs="0"/>
<xs:element name="idventas" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="activoC" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="apellidoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="dv" type="xs:string" minOccurs="0"/>
<xs:element name="edadCliebte" type="xs:short"/>
<xs:element name="estadoCivilIdEstadoCivil" type="tns:estadoCivil" minOccurs="0"/>
<xs:element name="idCliente" type="xs:short" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
<xs:element name="sexo" type="xs:unsignedShort" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCivil">
<xs:sequence>
<xs:element name="descripcionEstadoCivil" type="xs:string" minOccurs="0"/>
<xs:element name="idEstadoCivil" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findVentas">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findVentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editVentas">
<xs:sequence>
<xs:element name="entity" type="tns:ventas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editVentasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllVentas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllVentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeVentas">
<xs:sequence>
<xs:element name="entity" type="tns:ventas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeVentasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createVentas">
<xs:sequence>
<xs:element name="entity" type="tns:ventas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createVentasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>