xml-resources/web-service-references/WSVentas/wsdl/localhost_8080/WSAlimentos/WSVentas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSVentas">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WSAlimentos/WSVentas?xsd=1"/>
</xsd:schema>
</types>
<message name="editVentas">
<part name="parameters" element="tns:editVentas"/>
</message>
<message name="editVentasResponse">
<part name="parameters" element="tns:editVentasResponse"/>
</message>
<message name="findRangeVentas">
<part name="parameters" element="tns:findRangeVentas"/>
</message>
<message name="findRangeVentasResponse">
<part name="parameters" element="tns:findRangeVentasResponse"/>
</message>
<message name="removeVentas">
<part name="parameters" element="tns:removeVentas"/>
</message>
<message name="removeVentasResponse">
<part name="parameters" element="tns:removeVentasResponse"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findAllVentas">
<part name="parameters" element="tns:findAllVentas"/>
</message>
<message name="findAllVentasResponse">
<part name="parameters" element="tns:findAllVentasResponse"/>
</message>
<message name="findVentas">
<part name="parameters" element="tns:findVentas"/>
</message>
<message name="findVentasResponse">
<part name="parameters" element="tns:findVentasResponse"/>
</message>
<message name="createVentas">
<part name="parameters" element="tns:createVentas"/>
</message>
<message name="createVentasResponse">
<part name="parameters" element="tns:createVentasResponse"/>
</message>
<portType name="WSVentas">
<operation name="editVentas">
<input wsam:Action="http://service/WSVentas/editVentasRequest" message="tns:editVentas"/>
<output wsam:Action="http://service/WSVentas/editVentasResponse" message="tns:editVentasResponse"/>
</operation>
<operation name="findRangeVentas">
<input wsam:Action="http://service/WSVentas/findRangeVentasRequest" message="tns:findRangeVentas"/>
<output wsam:Action="http://service/WSVentas/findRangeVentasResponse" message="tns:findRangeVentasResponse"/>
</operation>
<operation name="removeVentas">
<input wsam:Action="http://service/WSVentas/removeVentasRequest" message="tns:removeVentas"/>
<output wsam:Action="http://service/WSVentas/removeVentasResponse" message="tns:removeVentasResponse"/>
</operation>
<operation name="count">
<input wsam:Action="http://service/WSVentas/countRequest" message="tns:count"/>
<output wsam:Action="http://service/WSVentas/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findAllVentas">
<input wsam:Action="http://service/WSVentas/findAllVentasRequest" message="tns:findAllVentas"/>
<output wsam:Action="http://service/WSVentas/findAllVentasResponse" message="tns:findAllVentasResponse"/>
</operation>
<operation name="findVentas">
<input wsam:Action="http://service/WSVentas/findVentasRequest" message="tns:findVentas"/>
<output wsam:Action="http://service/WSVentas/findVentasResponse" message="tns:findVentasResponse"/>
</operation>
<operation name="createVentas">
<input wsam:Action="http://service/WSVentas/createVentasRequest" message="tns:createVentas"/>
<output wsam:Action="http://service/WSVentas/createVentasResponse" message="tns:createVentasResponse"/>
</operation>
</portType>
<binding name="WSVentasPortBinding" type="tns:WSVentas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSVentas">
<port name="WSVentasPort" binding="tns:WSVentasPortBinding">
<soap:address location="http://localhost:8080/WSAlimentos/WSVentas"/>
</port>
</service>
</definitions>