xml-resources/web-service-references/WSProducto/wsdl/localhost_8080/WSAlimentos/WSProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WSAlimentos/WSProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="findProducto">
<part name="parameters" element="tns:findProducto"/>
</message>
<message name="findProductoResponse">
<part name="parameters" element="tns:findProductoResponse"/>
</message>
<message name="createProducto">
<part name="parameters" element="tns:createProducto"/>
</message>
<message name="createProductoResponse">
<part name="parameters" element="tns:createProductoResponse"/>
</message>
<message name="countProducto">
<part name="parameters" element="tns:countProducto"/>
</message>
<message name="countProductoResponse">
<part name="parameters" element="tns:countProductoResponse"/>
</message>
<message name="findAllProducto">
<part name="parameters" element="tns:findAllProducto"/>
</message>
<message name="findAllProductoResponse">
<part name="parameters" element="tns:findAllProductoResponse"/>
</message>
<message name="removeProducto">
<part name="parameters" element="tns:removeProducto"/>
</message>
<message name="removeProductoResponse">
<part name="parameters" element="tns:removeProductoResponse"/>
</message>
<message name="editProducto">
<part name="parameters" element="tns:editProducto"/>
</message>
<message name="editProductoResponse">
<part name="parameters" element="tns:editProductoResponse"/>
</message>
<message name="findRangeProducto">
<part name="parameters" element="tns:findRangeProducto"/>
</message>
<message name="findRangeProductoResponse">
<part name="parameters" element="tns:findRangeProductoResponse"/>
</message>
<portType name="WSProducto">
<operation name="findProducto">
<input wsam:Action="http://service/WSProducto/findProductoRequest" message="tns:findProducto"/>
<output wsam:Action="http://service/WSProducto/findProductoResponse" message="tns:findProductoResponse"/>
</operation>
<operation name="createProducto">
<input wsam:Action="http://service/WSProducto/createProductoRequest" message="tns:createProducto"/>
<output wsam:Action="http://service/WSProducto/createProductoResponse" message="tns:createProductoResponse"/>
</operation>
<operation name="countProducto">
<input wsam:Action="http://service/WSProducto/countProductoRequest" message="tns:countProducto"/>
<output wsam:Action="http://service/WSProducto/countProductoResponse" message="tns:countProductoResponse"/>
</operation>
<operation name="findAllProducto">
<input wsam:Action="http://service/WSProducto/findAllProductoRequest" message="tns:findAllProducto"/>
<output wsam:Action="http://service/WSProducto/findAllProductoResponse" message="tns:findAllProductoResponse"/>
</operation>
<operation name="removeProducto">
<input wsam:Action="http://service/WSProducto/removeProductoRequest" message="tns:removeProducto"/>
<output wsam:Action="http://service/WSProducto/removeProductoResponse" message="tns:removeProductoResponse"/>
</operation>
<operation name="editProducto">
<input wsam:Action="http://service/WSProducto/editProductoRequest" message="tns:editProducto"/>
<output wsam:Action="http://service/WSProducto/editProductoResponse" message="tns:editProductoResponse"/>
</operation>
<operation name="findRangeProducto">
<input wsam:Action="http://service/WSProducto/findRangeProductoRequest" message="tns:findRangeProducto"/>
<output wsam:Action="http://service/WSProducto/findRangeProductoResponse" message="tns:findRangeProductoResponse"/>
</operation>
</portType>
<binding name="WSProductoPortBinding" type="tns:WSProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSProducto">
<port name="WSProductoPort" binding="tns:WSProductoPortBinding">
<soap:address location="http://localhost:8080/WSAlimentos/WSProducto"/>
</port>
</service>
</definitions>