xml-resources/web-service-references/WSBoleta/wsdl/localhost_8080/WSAlimentos/WSBoleta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="boleta" type="tns:boleta"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="countBoleta" type="tns:countBoleta"/>

<xs:element name="countBoletaResponse" type="tns:countBoletaResponse"/>

<xs:element name="createBoleta" type="tns:createBoleta"/>

<xs:element name="createBoletaResponse" type="tns:createBoletaResponse"/>

<xs:element name="editBoleta" type="tns:editBoleta"/>

<xs:element name="editBoletaResponse" type="tns:editBoletaResponse"/>

<xs:element name="estadoCivil" type="tns:estadoCivil"/>

<xs:element name="findAllBoleta" type="tns:findAllBoleta"/>

<xs:element name="findAllBoletaResponse" type="tns:findAllBoletaResponse"/>

<xs:element name="findBoleta" type="tns:findBoleta"/>

<xs:element name="findBoletaResponse" type="tns:findBoletaResponse"/>

<xs:element name="findRangeBoleta" type="tns:findRangeBoleta"/>

<xs:element name="findRangeBoletaResponse" type="tns:findRangeBoletaResponse"/>

<xs:element name="removeBoleta" type="tns:removeBoleta"/>

<xs:element name="removeBoletaResponse" type="tns:removeBoletaResponse"/>

<xs:element name="ventas" type="tns:ventas"/>

<xs:complexType name="countBoleta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countBoletaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBoleta">
<xs:sequence>
<xs:element name="entity" type="tns:boleta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boleta">
<xs:sequence>
<xs:element name="idBoleta" type="xs:int" minOccurs="0"/>
<xs:element name="ventasIdventas" type="tns:ventas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ventas">
<xs:sequence>
<xs:element name="activoV" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="clienteIdCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fechaEntrega" type="xs:string" minOccurs="0"/>
<xs:element name="fechaVenta" type="xs:string" minOccurs="0"/>
<xs:element name="idventas" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="activoC" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="apellidoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="dv" type="xs:string" minOccurs="0"/>
<xs:element name="edadCliebte" type="xs:short"/>
<xs:element name="estadoCivilIdEstadoCivil" type="tns:estadoCivil" minOccurs="0"/>
<xs:element name="idCliente" type="xs:short" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
<xs:element name="sexo" type="xs:unsignedShort" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCivil">
<xs:sequence>
<xs:element name="descripcionEstadoCivil" type="xs:string" minOccurs="0"/>
<xs:element name="idEstadoCivil" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBoletaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBoleta">
<xs:sequence>
<xs:element name="entity" type="tns:boleta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBoletaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllBoleta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllBoletaResponse">
<xs:sequence>
<xs:element name="return" type="tns:boleta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBoleta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBoletaResponse">
<xs:sequence>
<xs:element name="return" type="tns:boleta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editBoleta">
<xs:sequence>
<xs:element name="entity" type="tns:boleta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editBoletaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeBoleta">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeBoletaResponse">
<xs:sequence>
<xs:element name="return" type="tns:boleta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>