xml-resources/web-service-references/WSBoleta/wsdl/localhost_8080/WSAlimentos/WSBoleta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSBoleta">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WSAlimentos/WSBoleta?xsd=1"/>
</xsd:schema>
</types>
<message name="findBoleta">
<part name="parameters" element="tns:findBoleta"/>
</message>
<message name="findBoletaResponse">
<part name="parameters" element="tns:findBoletaResponse"/>
</message>
<message name="createBoleta">
<part name="parameters" element="tns:createBoleta"/>
</message>
<message name="createBoletaResponse">
<part name="parameters" element="tns:createBoletaResponse"/>
</message>
<message name="findAllBoleta">
<part name="parameters" element="tns:findAllBoleta"/>
</message>
<message name="findAllBoletaResponse">
<part name="parameters" element="tns:findAllBoletaResponse"/>
</message>
<message name="removeBoleta">
<part name="parameters" element="tns:removeBoleta"/>
</message>
<message name="removeBoletaResponse">
<part name="parameters" element="tns:removeBoletaResponse"/>
</message>
<message name="findRangeBoleta">
<part name="parameters" element="tns:findRangeBoleta"/>
</message>
<message name="findRangeBoletaResponse">
<part name="parameters" element="tns:findRangeBoletaResponse"/>
</message>
<message name="editBoleta">
<part name="parameters" element="tns:editBoleta"/>
</message>
<message name="editBoletaResponse">
<part name="parameters" element="tns:editBoletaResponse"/>
</message>
<message name="countBoleta">
<part name="parameters" element="tns:countBoleta"/>
</message>
<message name="countBoletaResponse">
<part name="parameters" element="tns:countBoletaResponse"/>
</message>
<portType name="WSBoleta">
<operation name="findBoleta">
<input wsam:Action="http://service/WSBoleta/findBoletaRequest" message="tns:findBoleta"/>
<output wsam:Action="http://service/WSBoleta/findBoletaResponse" message="tns:findBoletaResponse"/>
</operation>
<operation name="createBoleta">
<input wsam:Action="http://service/WSBoleta/createBoletaRequest" message="tns:createBoleta"/>
<output wsam:Action="http://service/WSBoleta/createBoletaResponse" message="tns:createBoletaResponse"/>
</operation>
<operation name="findAllBoleta">
<input wsam:Action="http://service/WSBoleta/findAllBoletaRequest" message="tns:findAllBoleta"/>
<output wsam:Action="http://service/WSBoleta/findAllBoletaResponse" message="tns:findAllBoletaResponse"/>
</operation>
<operation name="removeBoleta">
<input wsam:Action="http://service/WSBoleta/removeBoletaRequest" message="tns:removeBoleta"/>
<output wsam:Action="http://service/WSBoleta/removeBoletaResponse" message="tns:removeBoletaResponse"/>
</operation>
<operation name="findRangeBoleta">
<input wsam:Action="http://service/WSBoleta/findRangeBoletaRequest" message="tns:findRangeBoleta"/>
<output wsam:Action="http://service/WSBoleta/findRangeBoletaResponse" message="tns:findRangeBoletaResponse"/>
</operation>
<operation name="editBoleta">
<input wsam:Action="http://service/WSBoleta/editBoletaRequest" message="tns:editBoleta"/>
<output wsam:Action="http://service/WSBoleta/editBoletaResponse" message="tns:editBoletaResponse"/>
</operation>
<operation name="countBoleta">
<input wsam:Action="http://service/WSBoleta/countBoletaRequest" message="tns:countBoleta"/>
<output wsam:Action="http://service/WSBoleta/countBoletaResponse" message="tns:countBoletaResponse"/>
</operation>
</portType>
<binding name="WSBoletaPortBinding" type="tns:WSBoleta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countBoleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBoleta">
<port name="WSBoletaPort" binding="tns:WSBoletaPortBinding">
<soap:address location="http://localhost:8080/WSAlimentos/WSBoleta"/>
</port>
</service>
</definitions>