xml-resources/web-service-references/WSProducto_1/wsdl/localhost_8080/WSAlimentos/WSProducto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countProducto" type="tns:countProducto"/>

<xs:element name="countProductoResponse" type="tns:countProductoResponse"/>

<xs:element name="createProducto" type="tns:createProducto"/>

<xs:element name="createProductoResponse" type="tns:createProductoResponse"/>

<xs:element name="editProducto" type="tns:editProducto"/>

<xs:element name="editProductoResponse" type="tns:editProductoResponse"/>

<xs:element name="findAllProducto" type="tns:findAllProducto"/>

<xs:element name="findAllProductoResponse" type="tns:findAllProductoResponse"/>

<xs:element name="findProducto" type="tns:findProducto"/>

<xs:element name="findProductoResponse" type="tns:findProductoResponse"/>

<xs:element name="findRangeProducto" type="tns:findRangeProducto"/>

<xs:element name="findRangeProductoResponse" type="tns:findRangeProductoResponse"/>

<xs:element name="producto" type="tns:producto"/>

<xs:element name="removeProducto" type="tns:removeProducto"/>

<xs:element name="removeProductoResponse" type="tns:removeProductoResponse"/>

<xs:element name="subtipoProducto" type="tns:subtipoProducto"/>

<xs:element name="tipoProducto" type="tns:tipoProducto"/>

<xs:complexType name="removeProducto">
<xs:sequence>
<xs:element name="entity" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="anioF" type="xs:dateTime" minOccurs="0"/>
<xs:element name="anioV" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcionProducto" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:short" minOccurs="0"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="precioProducto" type="xs:int"/>
<xs:element name="subtipoProducto" type="tns:subtipoProducto" minOccurs="0"/>
<xs:element name="tarificacion" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtipoProducto">
<xs:sequence>
<xs:element name="descripcionStp" type="xs:string" minOccurs="0"/>
<xs:element name="subtipoProductoPK" type="tns:subtipoProductoPK" minOccurs="0"/>
<xs:element name="tipoProducto" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtipoProductoPK">
<xs:sequence>
<xs:element name="subtipoP" type="xs:short"/>
<xs:element name="tipoProductoIdTp" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoProducto">
<xs:sequence>
<xs:element name="descripcionTp" type="xs:string" minOccurs="0"/>
<xs:element name="idTp" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProducto">
<xs:sequence>
<xs:element name="entity" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeProducto">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProducto">
<xs:sequence>
<xs:element name="entity" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>