xml-resources/web-service-references/WSDetalle/wsdl/localhost_8080/WSAlimentos/WSDetalle.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSDetalle">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WSAlimentos/WSDetalle?xsd=1"/>
</xsd:schema>
</types>
<message name="findDetalle">
<part name="parameters" element="tns:findDetalle"/>
</message>
<message name="findDetalleResponse">
<part name="parameters" element="tns:findDetalleResponse"/>
</message>
<message name="createDetalle">
<part name="parameters" element="tns:createDetalle"/>
</message>
<message name="createDetalleResponse">
<part name="parameters" element="tns:createDetalleResponse"/>
</message>
<message name="findRangeDetalle">
<part name="parameters" element="tns:findRangeDetalle"/>
</message>
<message name="findRangeDetalleResponse">
<part name="parameters" element="tns:findRangeDetalleResponse"/>
</message>
<message name="countDetalle">
<part name="parameters" element="tns:countDetalle"/>
</message>
<message name="countDetalleResponse">
<part name="parameters" element="tns:countDetalleResponse"/>
</message>
<message name="editDetalle">
<part name="parameters" element="tns:editDetalle"/>
</message>
<message name="editDetalleResponse">
<part name="parameters" element="tns:editDetalleResponse"/>
</message>
<message name="removeDetalle">
<part name="parameters" element="tns:removeDetalle"/>
</message>
<message name="removeDetalleResponse">
<part name="parameters" element="tns:removeDetalleResponse"/>
</message>
<message name="findAllDetalle">
<part name="parameters" element="tns:findAllDetalle"/>
</message>
<message name="findAllDetalleResponse">
<part name="parameters" element="tns:findAllDetalleResponse"/>
</message>
<portType name="WSDetalle">
<operation name="findDetalle">
<input wsam:Action="http://service/WSDetalle/findDetalleRequest" message="tns:findDetalle"/>
<output wsam:Action="http://service/WSDetalle/findDetalleResponse" message="tns:findDetalleResponse"/>
</operation>
<operation name="createDetalle">
<input wsam:Action="http://service/WSDetalle/createDetalleRequest" message="tns:createDetalle"/>
<output wsam:Action="http://service/WSDetalle/createDetalleResponse" message="tns:createDetalleResponse"/>
</operation>
<operation name="findRangeDetalle">
<input wsam:Action="http://service/WSDetalle/findRangeDetalleRequest" message="tns:findRangeDetalle"/>
<output wsam:Action="http://service/WSDetalle/findRangeDetalleResponse" message="tns:findRangeDetalleResponse"/>
</operation>
<operation name="countDetalle">
<input wsam:Action="http://service/WSDetalle/countDetalleRequest" message="tns:countDetalle"/>
<output wsam:Action="http://service/WSDetalle/countDetalleResponse" message="tns:countDetalleResponse"/>
</operation>
<operation name="editDetalle">
<input wsam:Action="http://service/WSDetalle/editDetalleRequest" message="tns:editDetalle"/>
<output wsam:Action="http://service/WSDetalle/editDetalleResponse" message="tns:editDetalleResponse"/>
</operation>
<operation name="removeDetalle">
<input wsam:Action="http://service/WSDetalle/removeDetalleRequest" message="tns:removeDetalle"/>
<output wsam:Action="http://service/WSDetalle/removeDetalleResponse" message="tns:removeDetalleResponse"/>
</operation>
<operation name="findAllDetalle">
<input wsam:Action="http://service/WSDetalle/findAllDetalleRequest" message="tns:findAllDetalle"/>
<output wsam:Action="http://service/WSDetalle/findAllDetalleResponse" message="tns:findAllDetalleResponse"/>
</operation>
</portType>
<binding name="WSDetallePortBinding" type="tns:WSDetalle">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSDetalle">
<port name="WSDetallePort" binding="tns:WSDetallePortBinding">
<soap:address location="http://localhost:8080/WSAlimentos/WSDetalle"/>
</port>
</service>
</definitions>