xml-resources/web-service-references/WSCliente_1/wsdl/localhost_8080/WSAlimentos/WSCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="countCliente" type="tns:countCliente"/>

<xs:element name="countClienteResponse" type="tns:countClienteResponse"/>

<xs:element name="createCliente" type="tns:createCliente"/>

<xs:element name="createClienteResponse" type="tns:createClienteResponse"/>

<xs:element name="editCliente" type="tns:editCliente"/>

<xs:element name="editClienteResponse" type="tns:editClienteResponse"/>

<xs:element name="estadoCivil" type="tns:estadoCivil"/>

<xs:element name="findAllCliente" type="tns:findAllCliente"/>

<xs:element name="findAllClienteResponse" type="tns:findAllClienteResponse"/>

<xs:element name="findCliente" type="tns:findCliente"/>

<xs:element name="findClienteResponse" type="tns:findClienteResponse"/>

<xs:element name="findRangeCliente" type="tns:findRangeCliente"/>

<xs:element name="findRangeClienteResponse" type="tns:findRangeClienteResponse"/>

<xs:element name="removeCliente" type="tns:removeCliente"/>

<xs:element name="removeClienteResponse" type="tns:removeClienteResponse"/>

<xs:complexType name="createCliente">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="activoC" type="xs:boolean"/>
<xs:element name="apellidoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="dv" type="xs:string" minOccurs="0"/>
<xs:element name="edadCliente" type="xs:short"/>
<xs:element name="estadoCivilIdEstadoCivil" type="tns:estadoCivil" minOccurs="0"/>
<xs:element name="idCliente" type="xs:short" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
<xs:element name="sexo" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCivil">
<xs:sequence>
<xs:element name="descripcionEstadoCivil" type="xs:string" minOccurs="0"/>
<xs:element name="idEstadoCivil" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCliente">
<xs:sequence>
<xs:element name="rut" type="xs:int"/>
<xs:element name="dv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCliente">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCliente">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCliente">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>