xml-resources/web-service-references/WSCliente_1/wsdl/localhost_8080/WSAlimentos/WSCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WSAlimentos/WSCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="findCliente">
<part name="parameters" element="tns:findCliente"/>
</message>
<message name="findClienteResponse">
<part name="parameters" element="tns:findClienteResponse"/>
</message>
<message name="createCliente">
<part name="parameters" element="tns:createCliente"/>
</message>
<message name="createClienteResponse">
<part name="parameters" element="tns:createClienteResponse"/>
</message>
<message name="editCliente">
<part name="parameters" element="tns:editCliente"/>
</message>
<message name="editClienteResponse">
<part name="parameters" element="tns:editClienteResponse"/>
</message>
<message name="removeCliente">
<part name="parameters" element="tns:removeCliente"/>
</message>
<message name="removeClienteResponse">
<part name="parameters" element="tns:removeClienteResponse"/>
</message>
<message name="findAllCliente">
<part name="parameters" element="tns:findAllCliente"/>
</message>
<message name="findAllClienteResponse">
<part name="parameters" element="tns:findAllClienteResponse"/>
</message>
<message name="findRangeCliente">
<part name="parameters" element="tns:findRangeCliente"/>
</message>
<message name="findRangeClienteResponse">
<part name="parameters" element="tns:findRangeClienteResponse"/>
</message>
<message name="countCliente">
<part name="parameters" element="tns:countCliente"/>
</message>
<message name="countClienteResponse">
<part name="parameters" element="tns:countClienteResponse"/>
</message>
<portType name="WSCliente">
<operation name="findCliente">
<input wsam:Action="http://service/WSCliente/findClienteRequest" message="tns:findCliente"/>
<output wsam:Action="http://service/WSCliente/findClienteResponse" message="tns:findClienteResponse"/>
</operation>
<operation name="createCliente">
<input wsam:Action="http://service/WSCliente/createClienteRequest" message="tns:createCliente"/>
<output wsam:Action="http://service/WSCliente/createClienteResponse" message="tns:createClienteResponse"/>
</operation>
<operation name="editCliente">
<input wsam:Action="http://service/WSCliente/editClienteRequest" message="tns:editCliente"/>
<output wsam:Action="http://service/WSCliente/editClienteResponse" message="tns:editClienteResponse"/>
</operation>
<operation name="removeCliente">
<input wsam:Action="http://service/WSCliente/removeClienteRequest" message="tns:removeCliente"/>
<output wsam:Action="http://service/WSCliente/removeClienteResponse" message="tns:removeClienteResponse"/>
</operation>
<operation name="findAllCliente">
<input wsam:Action="http://service/WSCliente/findAllClienteRequest" message="tns:findAllCliente"/>
<output wsam:Action="http://service/WSCliente/findAllClienteResponse" message="tns:findAllClienteResponse"/>
</operation>
<operation name="findRangeCliente">
<input wsam:Action="http://service/WSCliente/findRangeClienteRequest" message="tns:findRangeCliente"/>
<output wsam:Action="http://service/WSCliente/findRangeClienteResponse" message="tns:findRangeClienteResponse"/>
</operation>
<operation name="countCliente">
<input wsam:Action="http://service/WSCliente/countClienteRequest" message="tns:countCliente"/>
<output wsam:Action="http://service/WSCliente/countClienteResponse" message="tns:countClienteResponse"/>
</operation>
</portType>
<binding name="WSClientePortBinding" type="tns:WSCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCliente">
<port name="WSClientePort" binding="tns:WSClientePortBinding">
<soap:address location="http://localhost:8080/WSAlimentos/WSCliente"/>
</port>
</service>
</definitions>