xml-resources/web-service-references/WSEstadoCivil/wsdl/localhost_8080/WSAlimentos/WSEstadoCivil.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countEstadoCivil" type="tns:countEstadoCivil"/>

<xs:element name="countEstadoCivilResponse" type="tns:countEstadoCivilResponse"/>

<xs:element name="createEstadoCivil" type="tns:createEstadoCivil"/>

<xs:element name="createEstadoCivilResponse" type="tns:createEstadoCivilResponse"/>

<xs:element name="editEstadoCivil" type="tns:editEstadoCivil"/>

<xs:element name="editEstadoCivilResponse" type="tns:editEstadoCivilResponse"/>

<xs:element name="estadoCivil" type="tns:estadoCivil"/>

<xs:element name="findAllEstadoCivil" type="tns:findAllEstadoCivil"/>

<xs:element name="findAllEstadoCivilResponse" type="tns:findAllEstadoCivilResponse"/>

<xs:element name="findEstadoCivil" type="tns:findEstadoCivil"/>

<xs:element name="findEstadoCivilResponse" type="tns:findEstadoCivilResponse"/>

<xs:element name="findRangeEstadoCivil" type="tns:findRangeEstadoCivil"/>

<xs:element name="findRangeEstadoCivilResponse" type="tns:findRangeEstadoCivilResponse"/>

<xs:element name="removeEstadoCivil" type="tns:removeEstadoCivil"/>

<xs:element name="removeEstadoCivilResponse" type="tns:removeEstadoCivilResponse"/>

<xs:complexType name="findRangeEstadoCivil">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoCivil" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCivil">
<xs:sequence>
<xs:element name="descripcionEstadoCivil" type="xs:string" minOccurs="0"/>
<xs:element name="idEstadoCivil" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoCivil">
<xs:sequence>
<xs:element name="entity" type="tns:estadoCivil" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoCivil">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoCivil" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoCivil">
<xs:sequence>
<xs:element name="entity" type="tns:estadoCivil" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEstadoCivil">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoCivil" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEstadoCivil">
<xs:sequence>
<xs:element name="entity" type="tns:estadoCivil" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countEstadoCivil">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countEstadoCivilResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>