xml-resources/web-service-references/WSTipo_1/wsdl/localhost_8080/WSAlimentos/WSTipo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countTipo" type="tns:countTipo"/>

<xs:element name="countTipoResponse" type="tns:countTipoResponse"/>

<xs:element name="createTipo" type="tns:createTipo"/>

<xs:element name="createTipoResponse" type="tns:createTipoResponse"/>

<xs:element name="editTipo" type="tns:editTipo"/>

<xs:element name="editTipoResponse" type="tns:editTipoResponse"/>

<xs:element name="findAllTipo" type="tns:findAllTipo"/>

<xs:element name="findAllTipoResponse" type="tns:findAllTipoResponse"/>

<xs:element name="findRangeTipo" type="tns:findRangeTipo"/>

<xs:element name="findRangeTipoResponse" type="tns:findRangeTipoResponse"/>

<xs:element name="findTipo" type="tns:findTipo"/>

<xs:element name="findTipoResponse" type="tns:findTipoResponse"/>

<xs:element name="removeTipo" type="tns:removeTipo"/>

<xs:element name="removeTipoResponse" type="tns:removeTipoResponse"/>

<xs:element name="tipoProducto" type="tns:tipoProducto"/>

<xs:complexType name="findTipo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoProducto">
<xs:sequence>
<xs:element name="descripcionTp" type="xs:string" minOccurs="0"/>
<xs:element name="idTp" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllTipo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTipo">
<xs:sequence>
<xs:element name="entity" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTipo">
<xs:sequence>
<xs:element name="entity" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countTipo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editTipo">
<xs:sequence>
<xs:element name="entity" type="tns:tipoProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editTipoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeTipo">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>